extends layout

block content
  h1= title
  p Data Tool
  
  ul#tools-list.span6.text-left
    li
      a(href='/search')
       | Search
    li
      a(href='/element')
        | Element
    li
      a(href='/food')
        | Food
    li
      a(href='/dish')
        | Dish
    li
      a(href='/period')
        | Period
    li
      a(href='/fetus')
        | Fetus
    li
      a(href='/question')
        | Questionaire
    li
      a(href='/scan')
        | Scan
