
<div class="modal-dialog">
	<div class="modal-content">
	
		<div class='modal-header'>
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 ng-hide='newDish'>{{dish.ten}}</h3>
			<h3 ng-show='newDish'>New Dish</h3>
		</div>

		<form class="form-horizontal" role="form">
			<div class='modal-body'>
				<input type='hidden' class="form-control" ng-model="dish._id" />

				<div class="form-group">
					<label>ID</label> <input type='text' class="form-control"
						ng-model="dish.id" />
				</div>

				<div class="form-group">
					<label>Tên</label> <input type='text' class="form-control"
						ng-model="dish.ten" />
				</div>
				
				<div class="form-group">
					<label>Tên khác</label> <input type='text' class="form-control"
						ng-model="dish.ten_khac" />
				</div>
				
				<div class="form-group">
					<label>Nên dùng</label> <input type='text' class="form-control"
						ng-model="dish.nen_dung" />
				</div>
				
				<div class="form-group">
					<label>Loại</label> <input type='text' class="form-control"
						ng-model="dish.loai" />
				</div>
				
				<div class="form-group">
					<label>Thực phẩm chính</label> <input type='text' class="form-control"
						ng-model="dish.thuc_pham" ng-click="launchFoodDialog()" 
						data-toggle="modal" href="#foodDialog" />
				</div>
													
				<div class="form-group">
					<label>Lượng chất</label>
					<textarea class="form-control" rows="10"
						ng-model="dish.luong_chat" />
				</div>

				<div class="form-group">
					<label>Nguyên liệu</label>
					<textarea class="form-control" rows="10" ng-model="dish.nguyen_lieu" />
				</div>
				
				<div class="form-group">
					<label>Chế biến</label>
					<textarea class="form-control" rows="10" ng-model="dish.che_bien" />
				</div>
				
				<div class="form-group">
					<label>Hình ảnh</label>
					<input type='text' class="form-control"
						ng-model="dish.hinh_anh" />
				</div>
					
				<div class="form-group">
					<label>Lưu ý</label>
					<textarea class="form-control" rows="10" ng-model="dish.luu_y" />
				</div>
				
				<div class="form-group">
					<label>Tham khảo</label>
					<textarea class="form-control" rows="5" ng-model="dish.tham_khao" />
				</div>
				
				<div class="form-group">
					<label>Thông tin ngắn gọn</label>
					<textarea class="form-control" rows="5" ng-model="dish.brief_info" />
				</div>
				
				<label>
                    <input type="checkbox" ng-model="dish.completed"> Completed
                </label>
				
			</div>

			<div class='modal-footer'>
			    <label>
                    <input type="checkbox" ng-model="dish.approved"> Approved
                </label>
            
                <div class="form-group">
				    <textarea class="form-control" rows="2" ng-model="dish.comment" placeholder="Comment"/>
				</div>
			
				<button type='submit' class="btn btn-danger" data-dismiss="modal"
					ng-click="delete()">Delete</button>

				<button type='submit' class="btn btn-primary" data-dismiss="modal"
					ng-click="save()">Save</button>
			</div>
		</form>
	</div>
</div>