
<div class="modal-dialog">
	<div class="modal-content">
	
		<div class='modal-header'>
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 ng-hide='newPeriod'>{{period.ten}}</h3>
			<h3 ng-show='newPeriod'>New Period</h3>
		</div>

		<form class="form-horizontal" role="form">
			<div class='modal-body'>
				<input type='hidden' class="form-control" ng-model="period._id" />

				<div class="form-group">
					<label>ID</label> <input type='text' class="form-control"
						ng-model="period.id" />
				</div>

				<div class="form-group">
					<label>Tam Cá Nguyệt</label> <input type='text' class="form-control"
						ng-model="period.tam_ca_nguyet" />
				</div>
				
				<div class="form-group">
					<label>Tuần thai</label> <input type='text' class="form-control"
						ng-model="period.ten" />
				</div>
				
				<div class="form-group">
					<label>Sự phát triển thai nhi</label>
					<textarea class="form-control" rows="10" ng-model="period.thai_nhi" />
				</div>
				
				<div class="form-group">
					<label>Sức khoẻ bà bầu</label>
					<textarea class="form-control" rows="10" ng-model="period.ba_bau" />
				</div>
				
				<div class="form-group">
					<label>Nhóm chất bổ sung</label> <input type='text' class="form-control"
						ng-model="period.chat" ng-click="launchElementDialog()" 
						data-toggle="modal" href="#elementDialog" />
				</div>
				
				<div class="form-group">
					<label>Thực phẩm bổ sung</label> <input type='text' class="form-control"
						ng-model="period.thuc_pham" ng-click="launchFoodDialog()" 
						data-toggle="modal" href="#foodDialog" />
				</div>
				
				<div class="form-group">
					<label>Món ăn đề nghị</label> <input type='text' class="form-control"
						ng-model="period.mon_an" ng-click="launchDishDialog()" 
						data-toggle="modal" href="#dishDialog" />
				</div>
				
				<div class="form-group">
					<label>Hình ảnh</label>
					<input type='text' class="form-control"
						ng-model="period.hinh_anh" />
				</div>
					
				<div class="form-group">
					<label>Lưu ý</label>
					<textarea class="form-control" rows="10" ng-model="period.luu_y" />
				</div>
				
				<div class="form-group">
					<label>Tham khảo</label>
					<textarea class="form-control" rows="5" ng-model="period.tham_khao" />
				</div>
				
				<label>
                    <input type="checkbox" ng-model="period.completed"> Completed
                </label>
				
			</div>

			<div class='modal-footer'>
			    <label>
                    <input type="checkbox" ng-model="period.approved"> Approved
                </label>
            
                <div class="form-group">
				    <textarea class="form-control" rows="2" ng-model="period.comment" placeholder="Comment"/>
				</div>
				
				<button type='submit' class="btn btn-danger" data-dismiss="modal"
					ng-click="delete()">Delete</button>

				<button type='submit' class="btn btn-primary" data-dismiss="modal"
					ng-click="save()">Save</button>
			</div>
		</form>
	</div>
</div>