<div class="modal-dialog">
	<div class="modal-content">

		<div class='modal-header'>
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3>{{refName}}</h3>
		</div>


		<div class='modal-body'>
		    <ul>
			    <div ng-repeat="r in refs">
				    <li><strong>{{r.ten}}</strong></li>
				    <p>{{r.brief_info}}</p>
			    </div>
			</ul>
		</div>

		<div class='modal-footer'>
			<button class="btn btn-default" data-dismiss="modal" ng-click="">Close</button>
		</div>

	</div>
</div>